.App {
  min-height: 100vh;
  background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
}

.search-form {
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-form__bar {
  width: 40%;
  border: none;
  padding: 10px;
}

.search-form__button {
  background: rgb(94, 23, 116);
  border: none;
  padding: 10px 20px;
  color: #fff;
  cursor: pointer;
}

.search-form__button:hover {
  opacity: 0.7;
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
}
